<html>
  <head>
  <title>Block Chain</title>
    <link rel="stylesheet" href="/css/booking.css" />
    <meta name="viewport" content="width=device-width, user-scalable=no
      initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      // session 처리
      var check_login = "<%= loginUser %>"
      if(!check_login){
        alert("Please come into Login page.")
        location.href="/";
        return true;
      }


      var d = new Date();
//      var str = currentDate.toLocaleTimeString();
      var oneHour = 60000 * 10 * 6;
//      var limitDate = new Date(currentDate.getTime()+oneHour);
      var limitDate = new Date(Date.UTC(d.getFullYear(),d.getMonth(),d.getDate(),
      d.getHours(),d.getMinutes(),d.getSeconds(),d.getMilliseconds())+oneHour);

      //alert(limitDate);

      $("#bday").val(limitDate.toISOString().slice(0,10));
      $("#btime").val(limitDate.toISOString().slice(11,16));
    });


  function setUserPrivkey() {   // 사용자 비밀키  웹스토리지에서 불러오는 부분
      var msg;
      if(typeof(Storage) !== "undefined") {
          var xprivkey = localStorage.getItem("myJSONSecretKey");
          if (xprivkey) {
              var myObj  = JSON.parse(JSON.parse(xprivkey));
              msg = myObj.privkey;
          } else {
              msg = "There are no enrolled priavekey";
          }
      } else {
          msg = "Sorry, your browser does not support web storage...";
      }
      alert(msg);
      document.getElementById("id_userPrivkey").value = msg;
    }

    function bookingDevice(){
      var bbday = document.getElementById("bday").value;
      var bbtime = document.getElementById("btime").value;
      var bbdeviceName = document.getElementById("id_deviceName").value;
      var bbdeviceAddress = document.getElementById("id_deviceAddress").value;
      var bbpurpose = document.getElementById("id_purpose").value;
      var bbxprivkey = document.getElementById("id_userPrivkey").value;

      if (bbpurpose == null || bbpurpose == "") {
        alert("Please input purposes.");
        $("#bpurpose").focus();
        return false;
      }
      var myJSONuser, myJSONdevice, myObjUser, myObjDevice;
      if(typeof(Storage) !== "undefined") {
          myJSONuser = localStorage.getItem("myJSONSecretKey");
//          myJSONdevice = localStorage.getItem("myJSONSecretKeyDevice");
//          if (myJSONuser && myJSONdevice) {
            if (myJSONuser) {
              myObjUser  = JSON.parse(JSON.parse(myJSONuser));
              console.log("myObjUser.address : ", myObjUser.address);
//              myObjDevice  = JSON.parse(JSON.parse(myJSONdevice));
              //msg = myObj.privkey;
          } else {
              alert("localStorage is in trouble.")
              return;
          }
      } else {
          alert("Sorry, your browser does not support web storage...")
          return;
      }

      var currentDate = new Date();
      var bookingDate = new Date(bbday+'T'+bbtime+":00Z");
      bookingDate.setTime(bookingDate.getTime() + (currentDate.getTimezoneOffset() * 60000 ) )
      var oneHour = 60000 * 10 * 6;

      if(bookingDate.getTime() >= currentDate.getTime() + oneHour){
        alert("do booking on the inputted time  : "  + bookingDate.toISOString() +" / " + bookingDate.getTime());
      }else{
        alert("UNVALIDITY : do booking 1 hours in advance.");
        return false;
      }

      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          console.log("this.responseText  : ", this.responseText)
          // 여기서 부터는 진균이가
          location.href="/main";
        }
      }
      xmlhttp.open("POST", "/bookingDevice/", true);  //true Asyc, false syc
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.send("bookingTime="+bookingDate.getTime()+"&"+"purpose=" + bbpurpose+"&"+"deviceName="+bbdeviceName+
      "&"+"deviceAddress=" +bbdeviceAddress+"&"+"userAddress=" + myObjUser.address+"&"+"userPrivkey=" + myObjUser.privkey);
//      xmlhttp.send("bookingTime="+bookingDate.getTime()+"&"+"purpose=" + bbpurpose+"&"+"devicePrivkey=" + myObjDevice.privkey
//      +"&"+"deviceAddress=" + myObjDevice.address+"&"+"userAddress=" + myObjUser.address);
    };


    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML = h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i}; // 숫자가 10보다 작을 경우 앞에 0을 붙여줌
        return i;
    }

    </script>
  </head>
  <body onload="startTime()">
    <header>
      <input type="checkbox" id="menu-bar" />
      <label for="menu-bar"><span></span></label>
      <nav>
        <div class="user_info">
          <div class="img-wrap">
            <img src="/img/profile_face2.jpg" />
          </div>
          <div class="profile">
            <p class="username"><%= loginUser %></p>
            <p class="user_detail"><%= userAddress %></p>
            <img id="icon-setting" src="/img/icon-setting.svg" class="icon-setting" />
          </div>
        </div>
        <div class="menu-container">
          <a href="/devices">Devices</a>
          <a href="/users">Users</a>
          <a href="/main">History</a>
          <a href="./logout">logout</a>
          <!-- <a href="#">Reservation</a> -->
        </div>
      </nav>
      <label for="menu-bar" class="overlay"></label>
    </header>
    <div class="content">
      <form method="post">
        <fieldset>
          <label class="subtitle" for="id_deviceName">Device Name</label>

          <input type="text" class="input-1" id="id_deviceName" readonly value="<%= deviceName %>"><br>
          <label class="subtitle" for="id_deviceAddress">Device Address</label>
          <input type="text" class="input-1" id="id_deviceAddress" readonly value="<%= deviceAddress %>"><br>


          <label class="subtitle" for="bday">Reservation Date</label>
           <!-- ( <ml > 현재시간: </ml> <divTime id="clock"></divTime>) -->
          <input type="date" name="bday" id="bday" max=""  required>
          <input type="time" name="btime" id="btime" required>
          <span id="clock"></span>

          <label class="subtitle" for="id_purpose">Purpose of Use</label>
          <input type="text" class="input-1"  id="id_purpose"><br>

          <fieldset>

            <label class="subtitle" for="id_userPrivkey">Secret Key</label>
            <input type="button" class="button-1" value="Load Secret Key" onclick="setUserPrivkey()">
            <input type="password" class="input-1" id="id_userPrivkey" style="margin: 10px 0px;" >

          </fieldset>
        <input type="button" class="button-1 booking-bt" value='Reservation' id="id_bookingButton" onclick="bookingDevice()" style="margin-top: 30px;" >
        <!-- <input type="button" value='나가기' id="goToChoiceId" > -->
        </fieldset>
      </form>

    </div>

    <script>
      document.querySelector('#icon-setting').addEventListener('click',()=>{location.href="/main"});
    </script>
  </body>
</html>
